@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta brandcar="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя Веб-Страница</title>
</head>
<body>
    <h1>Привет, мир!</h1>
    <span></span>
    <p>Список машин</p>
    <a href="cars">Открыть список машин</a>
</body>
</html>
